<b>{{ title }}</b>
<b>Verification</b>


<p style="color:red" [hidden]="!valueIncorrect">The answer is incorrect! You will have one more question to verify your identity.</p>




<form style="padding:15px;">
    <mat-form-field>
      <mat-select placeholder="In what year were you born?" [(ngModel)]="selectedValue" name="year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    
  </form>

<button type="button" color="primary" mat-raised-button [disabled]="!selectedValue"
    (click)="dialogSubmit(false)" style="float:right;">Submit</button>
