.overview-form {
    min-width: 150px;
    width: 100%;
  }
  
  .overview-full-width {
    width: 100%;
  }

  .sa-grey{
    color: grey
  }
  .sa-ds-thirty {
    width: 30%
   }
  .sa-ds-seventy {
     width: 70%
    }