<b>Verification</b>

<p style="color:red" [hidden]="!valueIncorrect">The answer is incorrect! You will have one more question to verify your identity.</p>

<div class="overview-form" style="padding:10px 0px;">
    <mat-form-field [hidden]="!qOne" >
        <mat-select placeholder="{{challenges[0].challenge}}" [(ngModel)]="selectedYear" name="year">
            <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="overview-full-width" [hidden]="!qTwo">
        <input matInput placeholder="{{challenges[question].challenge}}" [(ngModel)]="zipcodeValue" style="width:100%">
    </mat-form-field>
</div>


<button type="button" color="primary" mat-raised-button [disabled]="!selectedYear" (click)="dialogSubmit(challenges[question].id)" style="float:right;">Submit</button>